In [26]:
import numpy as np
import pandas as pd

CREATING A SERIES
YOU CAN CONVERT A LIST NUMPY ARRAY, OR DICTIONARY TO SERIES:

In [27]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d  = {'a':10,'b':20,'c':30}

**Using List**

In [28]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [29]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [30]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

**NUMPY ARRAY**

In [31]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [32]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

**DICTIONARY**

In [33]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

**DATA IN A SERIES**

A PANDAS SERIES CAN HOLD VARIETY OF OBJECT TYPES:

In [34]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [35]:
# EVEN FUNCTIONS (ALTHOUGH UNLIKELY THAT YOU WILL USE THIS)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

**USING AN INDEX**

USING A SERIES IS UNDERSTANDING ITS INDEX. 
PANDAS MAKES USE OF THESE INDEX NAMES OR NUMBERS BY ALLOWING FOR FAST LOOK UPS OF INFORMATION
(WORKS LIKES A HASH TABLE OR DICTIONARY).

LETS SEE SOME EXAMPLES OF HOW TO GRAB INFORMATION FROM A SERIES. LET US CREATE TWO SERIES, SER1 AND SER2:

In [37]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany', 'USSR', 'Japan'])

In [38]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [43]:
ser2 = pd.Series([1,2,3,4],index = ['USA', 'Germany', 'USSR', 'Japan'])

In [44]:
ser2

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [46]:
ser1['Germany']

2

OPERATION ARE ALSO DONE BASE ON INDEX:

In [47]:
ser1 + ser2

USA        2
Germany    4
USSR       6
Japan      8
dtype: int64